@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.map {
  height: 70%;
  width: 100%;
}

.label {
  min-width: 80px;
  display: inline-block;
}
