@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.map {
  height: 70%;
  width: 100%;
}

.label {
  min-width: 80px;
}

.all-container {
  display: flex;
  flex-direction: row;

  .map-container {
    flex: 1;
    height: 840px;
  }

  .from-to-container {
    margin: 5px;
    display: flex;
    flex-direction: column;

    .from-to-header {
      display: flex;
      flex-direction: row;

      .label {
        display: flex;
        align-items: center;
      }
    }
  }
}

.drive-button {
  margin: 5px;
}


